html{
	height: 100%;
}
a{
	color: #fff;
}
body{
	color: #fff;
	text-align: center;
	background-color: #333;
	font-family: Arial, "Helvetica";
}
footer{
position: fixed;
bottom: 20px;
left: 20px;
}
.mostrar{
	display: none;
}

#porcentaje,
#canvasPreloader{
	font-weight: bold;
	text-transform: capitalize;
	letter-spacing: 1px;
	color: #fff;
	font-size: 24px;
	position: absolute;
	/*border-radius: 100px;*/
	/*border: 4px solid #fff;*/
	
	/*centrar verticalmente*/
	top: 43%;
	top: calc( 50% - 54px);
	z-index: 10;
	margin: 0 auto;
	width: 100px;
	height: 100px;
	
	/*centrar horizontalmente*/
	display: inline;
	text-align: center;
	margin-left: -54px;
	
	/*corregir posicion por el grues grueso del preloader*/
	line-height: 108px;
	text-indent: 8px;
}
#canvasPreloader{
	width: 200px;
	height: 200px;
	border-radius: 0;
	/*background-color: #000;*/
	z-index: 5;
	top: 28%;
 	top: calc( 50% - 100px);
 	margin-left: -100px;
}
#wrapperImages{
	/*al principio de la carga, el contenedor de imagenes esta oculto*/
	display: none;

	position: relative;
	/*border: 4px solid #fff;*/
	height: 500px;
	margin-top: 25px;
}

#wrapperImages img{
	/*position : absolute;*/
	width: 40%;
}